
<div class = "block">
  <h2 class = subtitle2> Guide to the sPEPs integrative</h2>

  <h3 class = subtitle3> How to perform search</h3>
  <p class = text>Clicking "Search" on the navigation menu bring you to the search webpage.</p>
  <img src="../../assets/image/searchpage1.png" alt="" class = img>

  <p class = text>You may type or paste the sequence in the textarea marked in red.</p>
  <img src="../../assets/image/searchpage2inputseq.png" alt="" class = img>

  <p class = text>Then, click on the "Submit" button marked in red.</p>
  <img src="../../assets/image/searchpage3clicksubmit.png" alt="" class = img>

  <p class = text>You would be informed by message below ① the button, once the query is submitted to the engine.</p>
  <p class = text>And the results will start showing up ②.</p>
  <img src="../../assets/image/searchpage4querysubmitted.png" alt="" class = img>

  <h3 class = subtitle3> Results Table </h3>

  <p class = text>The webpage will update the result until all of them are displayed in the table.</p>
  <p class = text>You might scroll down to check the results</p>
  <img src="../../assets/image/searchpage5.png" alt="" class = img>
  <img src="../../assets/image/searchpage6.png" alt="" class = img>

  <p class = text>You could also scrol left or right to check more knowledge about the resulting sequence.</p>
  <img src="../../assets/image/searchpage7resulttablescroll.png" alt="" class = img>

  <p class = text>Once finished, your could download the result in comma separated format clicking the button marked in red.</p>
  <img src = "../../assets/image/searchpage8download.png" alt="" class = img>

  <p class = text>You could also start the next query by clicking on this button (marked in red).</p>
  <img src="../../assets/image/searchpage8startnew.png" alt="" class = img>

  <h3 class = subtitle3> Check Available Databases </h3>
  <p class = text>You could click the dropdown to see which sPEP database is available.</p>
  <img src="../../assets/image/searchpage9checkavailabledb.png" alt="" class = img>

</div>
